<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link th:href ="@{/css/todo.css}" rel="stylesheet"/>
        <script th:src="@{/js/todo.js}"></script>
                
    <body>
    <h1>List Todo</h1>
<!-- Editable table -->
    <div class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
      <div class="card-body">
        <div id="table" class="table-editable">
          <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
                class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
              <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Title</th>
                <th class="text-center">Detail</th>
                <th class="text-center">Remove</th>
              </tr>
            </thead>
            <tbody >
              <tr th:each = "todo : ${todoList}">
                <td th:text ="*{todo.getId()}"class="pt-3-half" contenteditable="true">Aurelia Vega</td>
                <td th:text ="*{todo.getTitle()}" class="pt-3-half" contenteditable="true"></td>
                <td th:text ="*{todo.getDetail()}" class="pt-3-half" contenteditable="true"></td>
                <td>
                  <span class="table-remove"><a th:href="@{/deleteTodo/} + *{todo.getId()}"
                      class="btn btn-danger btn-rounded btn-sm my-0">Remove</a></span>
                </td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
<!-- Editable table -->
        
        <!--<ul>
            <li th:each = "todo : ${todoList}">
                <span th:text ="*{todo.getTitle()}"></span> : <span th:text ="*{todo.getDetail()}"></span>
            </li>
        </ul>
        -->
        <a th:href="@{/addTodo}" class="btn btn-primary">Add Todo</a>
    </body>
</html>
